<div class="container">
    <% if logged_in %>
        <div>
            <%= link_to "Create New Article", new_article_path, class: "btn mt-4", id: "article_button" %>
        </div>
    <% else %>
        <div>
            <%= link_to "Create New Article", login_path, class: "btn mt-4", id: "article_button" %>
        </div>
    <%end%>

    <%= form_tag(articles_path, method: :get) do %>
        <div class="row my-5">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Search by title"%>
                    <div class="input-group-append">
                        <%= select_tag 'category', options_for_select(Category.all.collect{|c| [c.name, c.id]}), include_blank: "All" %>
                        <%= submit_tag "Search", name: nil, class: "btn btn-outline-primary", id: "button-addon2" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <div id="pagination">
        <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
    <% @articles.each do |article| %>
        <div class="alert my-5" id="article_panel">
            <h1 class="display-4"> <%= link_to article.title, article_path(article), id: "username_link" %> </h1>
            <p class="lead"> <%= truncate(article.description, length: 300) %> </p>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <small class="font-weight-bold"> Created by: </small>
                    <p> <%= link_to article.user.username, user_path(article.user) %> (<%= time_ago_in_words(article.created_at) %> ago) </p>
                </div>
                <div class="col-sm-3">
                    <small class="font-weight-bold"> Last Updated: </small>
                    <p> <%= time_ago_in_words(article.updated_at) %> ago</p>
                </div>
                <div class="col-sm-2"> </div>
                <% if article.categories.any? %>
                    <div class="col-sm-3">
                        <small class="font-weight-bold d-block"> Category </small>
                        <% article.categories.each do |category| %>
                           <p class="d-inline mr-2"> <%= link_to category.name, category_path(category) %> </p>
                        <%end%>
                    </div>
                <%end%>
            </div>
            <div>
                <h6> <%= pluralize(article.comments.count,'Comment') %> </h6>
            </div>
            <div class="d-block">
                <% if logged_in && (current_user == article.user || current_user.admin?) %>
                    <div class="d-inline-block mr-2">
                        <%= link_to "Edit", edit_article_path(article), class: "btn btn-info btn-sm" %>
                    </div>
                    <div class="d-inline-block mx-2">
                        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                    </div>
                <%end%>
            </div>
        </div>
    <%end%>
    <div id="pagination">
        <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
</div>



