<div class="container">
    <div>
        <%= link_to "Create New Article", new_article_path, class: "btn mt-4", id: "article_button" %>
    </div>
    <div id="pagination">
        <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
    <% @articles.each do |article| %>
        <div class="alert my-5" id="article_panel">
            <h1 class="display-4"> <%= article.title %> </h1>
            <p class="lead"> <%= truncate(article.description, length: 300) %> </p>
            <hr>
            <div class="d-inline-block">
                <small class="font-weight-bold"> Created by: </small>
                <p> <%= link_to article.user.username, user_path(article.user) %> (<%= time_ago_in_words(article.created_at) %> ago) </p>
            </div>
            <div class="d-inline-block mx-5">
                <small class="font-weight-bold"> Last Updated: </small>
                <p> <%= time_ago_in_words(article.updated_at) %> ago</p>
            </div>
            <div class="d-block">
                <div class="d-inline-block mr-2">
                    <%= link_to "Show", article_path(article), class: "btn btn-success btn-sm" %>
                </div>
                <div class="d-inline-block mx-2">
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-info btn-sm" %>
                </div>
                <div class="d-inline-block mx-2">
                    <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                </div>
            </div>
        </div>
    <%end%>
    <div id="pagination">
        <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
</div>


