<div class="container">

	<div class="alert my-5" id="article_panel">

		<h2 class="display-4 text-center"> <%= @article.title %> </h2>
		<hr>
		<p class="lead"> <%= @article.description %>  </p>

		<div class="d-inline-block">
            <small class="font-weight-bold"> Created by: </small>
            <p> <%= link_to @article.user.username, user_path(@article.user) %> (<%= time_ago_in_words(@article.created_at) %> ago) </p>
        </div>
        <div class="d-inline-block mx-5">
            <small class="font-weight-bold"> Last Updated: </small>
            <p> <%= time_ago_in_words(@article.updated_at) %> ago</p>
        </div>

	</div>

	<%= link_to "View all Articles", articles_path, class: "btn", id: "article_button" %>
	
	<% if logged_in && (current_user == @article.user || current_user.admin?) %>
		<%= link_to "Edit", edit_article_path(@article), class: "btn", id: "article_button" %>

		<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn", id: "article_button" %>
	<%end%>

</div>