<div class="container">
	<div id="pagination">
        <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
	<% @users.each do |user| %>
		<div class="alert my-4" id="user_index_panel">
			<%= image_tag user.avatar.url, class: "rounded-circle", id: "index_profile_photo" %>
			<%= link_to user.username, user_path(user), class: "nav-link text-center font-weight-bold my-2" %>
			<p class="lead text-center"> <%= pluralize(user.articles.count, "Article") %> </p>
		</div>
	<% end %>
	<div id="pagination">
        <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center my-4') %>
    </div> 
</div>